<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/thanks.css">
    <title>MyConverter</title>
</head>
<body>
    <header>
        <h5 class="logo"><a href="/"><img src="../public/img/logo.svg" alt="."></a></h5>
        <p class="num-con">converted files: {{ converted }}</p>
    </header>
    <main>
        <div class="content">
            <div class="left">
                <h4>Thanks for using MyConverter</h5>
                </n>
                <ul>
                    <p>If you can please follow the developer on:</p>
                    <li><a href="https://github.com/AlanER404" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/alan-adzagic-252b66203/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://www.facebook.com/alan.adzagic/" target="_blank">Facebook</a></li>
                </ul>
            </div>
            <div>
                <img src="../public/img/thanks.svg" alt="Thanks">
            </div>
        </div>
    </main>
</body>
</html>